body {
  align-items: center;
  background-color: #0070c0;
  color: #fff;
  display: flex;
  font: 20px "Century Gothic", Futura, sans-serif;
  height: 100vh;
  justify-content: center;
}

ul {
  padding-left: 0px;
}

ul li {
  list-style-type: none;
}

button {
  background-color: #0070c0;
  border: 2px solid #fff;
  color: #fff;
  width: 200px;
}

li button {
  margin-bottom: 5px;
}

button:hover {
  background-color: #fff;
  color: #0070c0;
  cursor: pointer;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #0070c0;
  border: 3px solid #fff;
  float: left;
  font-size: 48px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #0070c0;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-board,
.game-info {
  margin: 20px;
}

@media (max-width: 575px) {
  body {
    align-items: flex-start;
  }

  .game {
    flex-direction: column;
  }
}